* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color:  rgb(15, 15, 15);
  overflow: hidden;
}

nav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.left {
  display: flex;
  align-items: center;
}

.icons {
  margin: 0 10px;
  padding: 0 10px;
}

.center {
  display: flex;
  justify-content: center;
}
hr{
  width: 100%;
}
.signupBox{
  margin-top: 10px;
}
.center,
input {
  display: flex;
  align-items: center;
  width: 500px;
  height: 40px;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  color: white;
  font-size: 1rem;
}

.center input {
  background-color: rgb(18, 18, 18);
  width: 100%;
  font-size: 1rem;
  padding: 0 10px;
}

.center input:focus {
  outline: none;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

aside {
  width: 250px;
  height: 92.5vh;
  padding: 0px 0px 30px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
 
}

.side-container {
  margin-top: 30px;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.sidebar-item img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.sidebar-item p {
  margin: 0;
}

aside a {
  text-decoration: none;
  color: white;
  font-size: large;
}
.signInbtn {
  padding: 0px 10px;
  min-width: 70px;
  height: 30px;
  color: rgb(0, 149, 255);
  border-radius: 20px;
  margin-left: 20px;
  background-color: rgb(27, 27, 27);
  border: 2px solid rgb(0, 149, 255);
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
}
main{
  width: 83%;
  padding: 0px 35px;
  height: 200vh;
}
#content{
  display: flex;
  flex-direction: row;
}
.catagoryRow{
  width: 100%;
  height: 60px;
  background-color: rgb(15, 15, 15);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  overflow-x: scroll;
  gap: 10px;
  position: sticky;
  top: 0px;
  padding: 0px 20px;
}

.catagoryRow::-webkit-scrollbar{
  visibility: hidden;
}
.catagoryRow a{
  padding: 5px 10px;
  border-radius: 8px;
  text-decoration-line: none;
  background-color: rgb(27, 27, 27);
  color: white;
}
.catagoryRow a:hover{
  background-color: aliceblue;
  color: rgb(24, 24, 24);
}
#videos-container {
  width: 100%;
  height: 45%;
  overflow: scroll !important;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  color: white;
}
.video-info{
  width: 250px;
  
}
.video-image img{
  width: 250px;
  
}
.video-title{
  width:250px
}
button{
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  
}

.comment {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment-content {
  display: flex;
  
}

.profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-info {
  display: flex;
  flex-direction: row;
}

.author-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment-text {
  margin: 0;
}
.channel-avatar img{
  width: 30px;
  border-radius: 50%;
}
.channel-number{
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}
.channel-info{
  display: flex;
  margin: 5px;
}
.video-title{
  padding-left: 10px;
}
.channel-description{
  padding-left:45px;
  padding-top:5px;
}
.video-time{
  padding-left:5px;
}
.side-content a:hover{
  background-color: white;
 color: aqua;
}

